.search-results--section.search-results--section--large
  img(src=airlineUrl)
  .search-result--content.m-l-1
    p.m-v-0 Placeholder
    p.small.fade.m-v-0 #{flightNumbers}
.search-results--section
  .search-result--content.m-l-1
    p.m-v-0 Placeholder
    p.small.fade.m-v-0 #{flightDays}
.search-results--section
  .search-result--content
    p.m-v-0 Placeholder
    p.small.fade.m-v-0 #{fromAirport} → #{toAirport}
.search-results--section
  .search-result--content
    p.m-v-0 #{flightClass}
    p.small.fade.m-v-0 #{seatsRemaining} left
.search-result--content
    p.m-v-0 $ #{price}
    p.small.fade.m-v-0 Round-trip